.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12.5px;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2em;
    text-transform: uppercase;
    color: $white-color;
    background: $blue-color;
    border: 1px solid $white-color;
    border-radius: 4px;
    cursor: pointer;
    transition: color $transition-timing $transition-curve, background-color $transition-timing $transition-curve, border-color $transition-timing $transition-curve, ;

    &:hover {
        color: $blue-color;
        background-color: $white-color;
        border-color: $blue-color;
    }
}