$header-color: rgba(16, 16, 29, 0.9);
$order-section-color: #272733;
$footer-color: #3D4050;
$active-color: #43ABF0;
$payments-color: #C3C3C3;

$white-color: #FFF;
$black-color: #000;
$blue-color: #3E9CDC;
$grey-color: #BBB;

$transition-timing: .15s;
$transition-curve: ease-in-out;

$main-font-family: "Lato", sans-serif;