$header-color: rgba(16, 16, 29, 0.9);
$order-section-color: rgba(61, 64, 80, 1);
$footer-color: rgba(61, 64, 80, 1);
$active-color: #43ABF0;
$payments-color: rgba(195, 195, 195, 1);

$white-color: #FFF;
$black-color: #000;
$blue-color: #3E9CDC;
$grey-color: rgba(61, 64, 80, 1);