.footer {
    padding: 30px 0;
    background: $footer-color;
  
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
  
    &__text {
        font-size: 13px;
        font-weight: 400;
        line-height: 1.2em;
        color: $white-color;
        transition: color $transition-timing $transition-curve;

        &_payments {
            color: $payments-color;
        }
    }

    &__separator {
        content: '';
        width: 1px;
        height: 18px;
        background: $payments-color;
    }   

    &__list {
        @include list-reset;
        display: flex;
        gap: 38px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 10px;

        &:focus-visible {
            @include focus-effect;
        }

        &:hover {
            & .footer__icon {
                transform: rotateZ(360deg);
            }

            & .footer__text {
                color: $blue-color
            }
        }
    }

    &__icon {
        fill: $blue-color;
        transform: rotateZ(0);
        transition: transform .4s $transition-curve;

        &_qiwi {
            width: 21px;
            height: 20px;
        }

        &_yamoney {
            width: 15px;
            height: 18px;
        }

        &_wm {
            width: 19px;
            height: 18px;
        }

        &_mail {
            width: 16px;
            height: 13px;
        }

        &_vk {
            width: 12px;
            height: 14px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .footer {
        &__separator {
            display: none;
        }

        &__list {
            gap: 15px;
        }

        &__link {
            gap: 5px;
        }
    }
}

@media screen and (max-width: 992px) {
    .footer {
        padding: 15px 0;

        &__wrapper {
            flex-direction: column;
            gap: 10px;
        }
    }
}

@media screen and (max-width: 600px) {
    .footer {
        &__text {
            font-size: 11px;
        }

        &__item {
            gap: 5px;
        }
    }
}
