.header {
    position: fixed;
    padding: 33.5px 0 31.5px;
    width: 100%;
    background-color: $header-color;
    transition: padding $transition-timing $transition-curve;
    z-index: 1000;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    &__logo {
        width: 247px;
        height: 35px;

        &:focus-visible {
            @include focus-effect;
        }
    }

    &__nav {
        &-list {
            @include list-reset;
            display: flex;
            gap: 62px;
        }

        &-link {
            position: relative;
            font-size: 13px;
            line-height: 1.2em;
            text-transform: uppercase;
            color: $white-color;
            transition: color;

            &_active {
                color: $active-color;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -7px;
                left: 0;
                display: block;
                width: 0;
                height: 2px;
                background-color: $blue-color;
                transition: width $transition-timing $transition-curve;
            }

            &:focus-visible {
                @include focus-effect;
            }

            &:hover {
                &::after {
                    width: 100%;
                }
            }

            &:active {
                color: $active-color;
            }
        }
    }

    &.sticky {
        padding: 10px;
    }
}